body {
  text-align: center;
  font-family: "Open Sans";
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}
header {
  background-color: #404041;
  font-size: 20px;
  padding: 15px
}

#title-1 {
  color: #ED458B;
  margin: 0;
}

#title-2 {
  color: #E6E7E8;
  margin: 0;
}

h1 {
  display: inline-block;
}
.form {
  padding-bottom:  30px;
}
#input {
  width: 40%;
  font-size: 20px;
  margin: 10px 30px 20px;
  padding: 3px 5px;
  color: #404041;
}
button {
  border-radius: 100px;
  background-color: #929497;
  color: #FFFFFF;
  padding: 3px;
}
button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}
button:disabled {
  background-color: #D0D2D3;

}
#guess {
  width: 20%;
  margin: 0 1% 0 0;
  font-size: 18px;
}
#clear {
  width: 20%;
  margin: 0 0 0 1%;
  font-size: 18px;
}

.feedback-text {
  font-size: 18px;
  color: #404041;
  margin: 0;
  padding: 0;
}
#last {
  font-size: 120px;
  color: #EB008B;
  margin: 0;
}
#reset {
  margin-top: 30px;
  font-size: 16px;
  width: 40%;
}
.min-max-box {
  display: inline-block;
  border: #404041 solid 4px;
  margin: 10px 30px;
  padding: 0 40px 0;
  border-radius: 5px;
}

.min-max-value {
  font-size: 40px;
  color: #EB008B;
  margin: 0 0 20px;
}

.update-form {
  width: 60%;
  margin: 10px auto;
}
.update-field {
  width: auto;
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
}
#update {
  padding: 3px 10px;
  font-size: 16px;
  width: 40%;
}
.inline {
  display: inline-block;
}
